@import 'eightbit_button';
@import 'bubble';

@font-face {
  font-family: 'Pixel';
  src: url("../assets/fonts/Silkscreen/slkscr.ttf");
  font-weight: 400;
}

@font-face {
  font-family: 'Pixel';
  src: url("../assets/fonts/Silkscreen/slkscrb.ttf");
  font-weight: 700;
}

@font-face {
  font-family: 'PrssStart';
  src: url("../assets/fonts/Press_Start_2P/PressStart2P-Regular.ttf");
  font-weight: 700;
}

*{
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  body{
    font-family: PrssStart, serif;
    min-height: 100vh;
    max-width: 100vw;
    background-color: #000;
    color: #fff;
  }

  a{
    outline: none;
  }

  li{
    list-style-type: none;
  }

  em{
    color: #7e00ff;
  }
}

header {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  *{font-weight: bold;}
  background-color: #a000d8;

  h1::selection {
    color: #ffffff;
    background: #000000;
  }

  .page-name {
    margin-left: 20px;
    font-size: 13pt;
  }

  .head-profile {
    display: none;
    align-items: center;
    max-width: 190px;
    .profile-logo{
      height: 30px;
    }
    .profile-name{
      color: white;
      margin-left: 15px;
      font-size: 10pt;
      line-height: 1.2em;
    }
  }
}

canvas {
  //background-color: #ffffff;
  border: none;
}

.modal{
  position: fixed;
  left: 25vw;
  right: 25vw;
  min-width: 600px;
  background: #fff;
  color: #000;
  padding: 1.5%;
  display: inline;
  text-align: center;
  transition: opacity .5s;
  z-index: 98;
  .window{
    padding: 10px;
  }
  input {
    width: 0;
    height: 0;
    opacity: 0;
  }
}

.overlay{
  background: rgba(0, 0, 0, .7);
  position: fixed;
  //display: none;
  //opacity: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 97;
  transition: opacity .5s;
}

.hide-modal{
  display: none;
  opacity: 0;
}

.task-window{
  line-height: 1.5rem;
  p{
    margin-top: 2rem;
  }
  input {
    width: 150px;
    height: 30px;
    opacity: 1;
    border: none;
    outline: none;
    padding: 4px 8px;
    background-color: rgba(126, 0, 255, 0.41);
    font-family: PrssStart, serif;;
  }
}

.registration-form{
  display: flex;
  flex-direction: column;
  margin: 3vh 0;
  color: black;
  label{
    padding-bottom: 2vh;
    vertical-align: middle;
    position: relative;
    input{
      height: 20px;
      font-family: PrssStart, serif;
      border: none;
      outline: none;
      bottom: 1.6vh;
    }
  }
}

.input_field{
  display: flex;
  flex-direction: row-reverse;
  max-height: 20px;
}

.cmd_for_login {
  display: flex;
  font-family: PrssStart, serif;
  font-size: 14px;
  color: #59009c;
  width: 60%;
  overflow: hidden;
  position: relative;
}

#cmd_for_login span {
  white-space: pre;
}

.cursor {
  float: left;
  width: 10px;
  height: 14px;
  background: #59009c;
  visibility: hidden;
}

.pass_span{
  display: none;
}

#hidden_span{
  position: absolute;
  z-index: 14;
}

.tooltip {
  position: fixed;
  z-index: 99;
  font-size: 9pt;
}

.button-container {
  margin: 0 auto;
  width: 100px;
  text-align: center;
  padding: 10px 0;
}

.modal-button{
  margin: 0 auto;
}

.gameField{
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .infoBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1%;
    div{
      text-align: center;
      progress{
        width: 35vw;
        height: 25px;
      }
      p{
        font-size: 1rem;
      }
    }
  }
  .battle-field{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-grow: 5;
    .mainCharacter{
      margin: 0 0 0 5%;
    }
    .enemyCharacter{
      margin: 0 5% 0 0;
    }
    .lightning{
      z-index: 10;
      flex-grow: 5;
      canvas{
        width: 100%;
        height: 140px;
      }
    }
  }
  .ground{
    height: 150px;
    background-image: url("../assets/ground-sprite.png");
    float: bottom;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    .spellPanel{
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;
      width: 120px;
      height: 60px;
      box-shadow: 4px 4px 0px 4px rgba(0,0,0,0.71);
      margin-bottom: 1%;
      background-color: #6b6b6b;
      .light, .haduken{
        padding: 4px;
      }
      .light{
        margin: 0 1px 0 2px;
      }
      .haduken{
        margin: 0 2px 0 1px;
      }
      .blockCover{
        display: none;
        top: 0;
        width: 100%;
        height: 50px;
        position: absolute;
      }
    }
  }
}

  table{
    border-collapse: collapse;
    margin-bottom: 20px;
    th{
      color: #59009c;
      font-size: 1.1rem;
      font-weight: bold;
    }
    th, td{
      padding: 5px 10px;
      border: 4px solid #000000;
    }
  }

.reverse{
  transform: rotate(180deg);
}

.border-bar-8bit{
  border-style: solid;
  border-width: .25em 0;
  box-shadow: -.375em 0 0 -.125em,
  .375em 0 0 -.125em;
  margin: .5em .75em;
}

.border-8bit{
  border-style: solid;
  border-width: .25em 0;
  box-shadow: -.375em 0 0 -.125em,
  .375em 0 0 -.125em;
  margin: .5em .75em;
  //padding: .750em .25em;

  &:before {
    background-color: inherit;
    border: inherit;
    border-width: 0 .25em;
    bottom: .375em;
    content: '';
    left: -.5em;
    pointer-events: none;
    position: absolute;
    top: .5em;
    right: -.5em;
    z-index: -1;
  }

  &:after {
    background-color: inherit;
    border: inherit;
    border-width: 0 .25em;
    bottom: .125em;
    content: '';
    left: -.375em;
    position: absolute;
    top: .125em;
    right: -.375em;
    z-index: -2;
  }
}
